@import "tailwindcss";
@import "flowbite/src/themes/default";

.gerak {
  position: relative; /* ubah dari absolute ke relative kalau tidak mau tumpang tindih */
  display: flex;
  overflow: hidden;
  height: 200px;
  align-items: center;
  background-color: #383838;
  justify-content: center;
}

.geser {
  white-space: nowrap;
  display: inline-flex;
  gap: 50px;
  animation: slider 30s linear infinite;
}

.bulat {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ef6824;
  background: linear-gradient(218deg, rgba(239,104,36,0.74), rgba(255,255,255,0.28));
  display: flex;
  align-items: center;
  justify-content: center;
}

.bocil {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
